In [1]:
import pandas as pd

In [5]:
ser=pd.Series(['100','200','400'],[200,340,'Ram'])

In [6]:
ser

200    100
340    200
Ram    400
dtype: object

In [7]:
ser=pd.Series(['a','b','c','d'],[1,2,3,4])

In [8]:
ser

1    a
2    b
3    c
4    d
dtype: object

In [9]:
ser.index

Index([1, 2, 3, 4], dtype='int64')

In [10]:
ser.iloc[2]

'c'

In [19]:
# data frame

a = {
    "a": pd.Series([10, 29, 30], index=['a', 'b', 'c']),
    "b": pd.Series([3, 4, 5, 6, 7], index=['x', 'y', 'z', 'w', 'v'])  # Added 'v' for the 5th value
}

In [21]:
ad=pd.DataFrame(a)

In [22]:
ad

      a    b
a  10.0  NaN
b  29.0  NaN
c  30.0  NaN
v   NaN  7.0
w   NaN  6.0
x   NaN  3.0
y   NaN  4.0
z   NaN  5.0