In [8]:
#conditions

rain=False

if rain==True:
    print("Take umbrella")
else:
    print("No need to take an umbrella")

No need to take an umbrella

In [24]:
marks = 70;

if(marks> 90):
    print("You've got gread A+'")

elif marks>80:
    print("Grade A")
    
elif marks>80:
    print("Grade B")

elif marks>60:
    print("Grade C")

elif marks>40:
    print("Grade D")
    
else :
    print("You have failed")

Grade C

In [2]:
#input from user

marks = int(input("Enter your marks"))


if(marks> 90):
    print("You've got gread A+'")

elif marks>80:
    print("Grade A")
    
elif marks>80:
    print("Grade B")

elif marks>60:
    print("Grade C")

elif marks>40:
    print("Grade D")
    
else :
    print("You have failed")

Enter your marks 78

Grade C

In [26]:
type(marks)

str

In [14]:
# CALCULATOR

a_user = input('enter your choice :\n Add or + \n Subtrace or - \n Multiply or * \n Divide or /').lower()

num1 =int(input("Input your first Number: "))
num2 =int(input("Input your second Number: "))

if a_user=='Divide' or a_user=='/' or a_user=='d':
    result=num1/num2;
    print(result)

elif a_user=='Add' or a_user=='+' or a_user=='a':
    result=num1+num2;
    print(result)

elif a_user=='Subtract' or a_user=='-' or a_user=='s':
    result=num1-num2;
    print(result)

elif a_user=='Multiply' or a_user=='*' or a_user=='m':
    result=num1*num2;
    print(result)

else :
    print("Wrong decision")

enter your choice :
 Add or +
 Subtrace or -
 Multiply or *
 Divide or / S
Input your first Number:  6
Input your second Number:  2

4

In [2]:
# A Simple Interactive Calculator with Clear Instructions

print("Welcome to the Interactive Calculator!")
print("Please select an operation from the following options:")
print("1. Add (+)")
print("2. Subtract (-)")
print("3. Multiply (*)")
print("4. Divide (/)")

# Take input from the user for operation and convert to lowercase for consistency
operation = input("Enter your choice (Add, Subtract, Multiply, Divide or +, -, *, /): ").strip().lower()

# Ensure the user enters valid numbers
try:
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))
except ValueError:
    print("Invalid input! Please enter valid numbers.")
    exit()

# Perform the appropriate operation based on user input
if operation == 'add' or operation == '+' or operation == 'a':
    result = num1 + num2
    print(f"\nResult: {num1} + {num2} = {result}")

elif operation == 'subtract' or operation == '-' or operation == 's':
    result = num1 - num2
    print(f"\nResult: {num1} - {num2} = {result}")

elif operation == 'multiply' or operation == '*' or operation == 'm':
    result = num1 * num2
    print(f"\nResult: {num1} * {num2} = {result}")

elif operation == 'divide' or operation == '/' or operation == 'd':
    if num2 != 0:  # Avoid division by zero
        result = num1 / num2
        print(f"\nResult: {num1} / {num2} = {result:.2f}")  # Show result with 2 decimal places
    else:
        print("Error: Division by zero is not allowed!")

else:
    print("Invalid operation choice! Please restart and select a valid operation.")

Welcome to the Interactive Calculator!
Please select an operation from the following options:
1. Add (+)
2. Subtract (-)
3. Multiply (*)
4. Divide (/)

Enter your choice (Add, Subtract, Multiply, Divide or +, -, *, /):  /
Enter the first number:  3
Enter the second number:  9

Result: 3.0 / 9.0 = 0.3333333333333333

In [2]:
a=0
while(a<50):
    if a%2==0:
        print(f'{a} is an even numer')
        a+=1

    else:
        print(f'{a} is odd number')
        a+=1

0 is an even numer
1 is odd number
2 is an even numer
3 is odd number
4 is an even numer
5 is odd number
6 is an even numer
7 is odd number
8 is an even numer
9 is odd number
10 is an even numer
11 is odd number
12 is an even numer
13 is odd number
14 is an even numer
15 is odd number
16 is an even numer
17 is odd number
18 is an even numer
19 is odd number
20 is an even numer
21 is odd number
22 is an even numer
23 is odd number
24 is an even numer
25 is odd number
26 is an even numer
27 is odd number
28 is an even numer
29 is odd number
30 is an even numer
31 is odd number
32 is an even numer
33 is odd number
34 is an even numer
35 is odd number
36 is an even numer
37 is odd number
38 is an even numer
39 is odd number
40 is an even numer
41 is odd number
42 is an even numer
43 is odd number
44 is an even numer
45 is odd number
46 is an even numer
47 is odd number
48 is an even numer
49 is odd number

In [4]:
bill=[34,45,6,67,43]
total_bill=0

for a in bill:
    total_bill+=a

print(f'The total bill is {total_bill}')
print(f'The average of money spent is {total_bill/len(bill)}')

The total bill is 195
The average of money spent is 39.0

In [5]:
# Function to calculate the sum of first n natural numbers
def sum_of_natural_numbers(n):
    total_sum = 0
    for i in range(1, n + 1):
        total_sum += i
    return total_sum

# Input: n (the first n natural numbers to sum)
n = int(input("Enter a number: "))

# Output: Sum of first n natural numbers
print("The sum of the first", n, "natural numbers is:", sum_of_natural_numbers(n))

Enter a number:  5

The sum of the first 5 natural numbers is: 15

In [7]:
# Function to calculate the factorial of a given number using a while loop
def factorial(n):
    result = 1
    while n > 0:
        result *= n
        n -= 1
    return result

# Input: n (the number to find the factorial of)
n = int(input("Enter a number: "))

# Output: Factorial of the number
print("The factorial of", n, "is:", factorial(n))

Enter a number:  4

The factorial of 4 is: 24

In [9]:
# Function to print the multiplication table of a given number
def multiplication_table(n):
    for i in range(1, 11):
        print(f"{n} x {i} = {n * i}")

# Input: n (the number for which the multiplication table will be printed)
n = int(input("Enter a number: "))

# Output: Multiplication table of the number
multiplication_table(n)

Enter a number:  20

20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [13]:
# reverse a sring (while loop)
#write python program that reverses a give string using a while loop. 
#example input 'hello' output: 'ohhel'

#for loop
string=input('Enter string that you want to reverse:')
e_str=""
for i in string:
    e_str=i+e_str
    
print(e_str)

Enter string that you want to reverse: lkhraj

jarhkl

In [15]:
#while loop
string=input('String: ')

e_str=""
a=0
while a<len(string):
    e_str=string[a]+e_str
    a=a+1

print(e_str)

String:  lekhraj

jarhkel

# Functions

In [1]:
def add():
    print('the function is working')

In [2]:
add()

the function is working

In [3]:
def test(a,b,c,d,e):
    x=a+b+c
    y=x+d+e
    print(y)

In [4]:
test(1,2,3,4,5)

15

In [5]:
def test(*val):
    print(val[0])
    print(val[1])

In [6]:
test(49,40)

49
40

In [7]:
def status(city='kathandu', name='udit', age='27'):
    print(f'I live in {city}. I am {name} and my age is {age}')

In [9]:
status('birgung','hari',34)

I live in birgung. I am hari and my age is 34

In [10]:
def test(**val):
    print(val['name'],val['age'],val['city'])

In [12]:
test(name='lekhraj',age=23,city='kathmandu')

lekhraj 23 kathmandu